{% extends "base.html" %}

{% block title %}
{{ title }} : {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_cat.html' %}
{% endblock %}

{% block content %}

{% for news in page_obj %}
            <div class="card mb-3">
                <div class="card-header">
                    <a href="{{ news.category.get_absolute_url }}" class="nav-link">{{ news.category }}</a>
                </div>
                <a class="nav-link" style="color:black;" href="{{ news.get_absolute_url }}">
                    <div class="card-body">
                        {% if news.photo %}
                            <img alt="" class="mr-3" src="{{ news.photo.url }}" width="350">
                        {% endif %}

                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.content|safe|linebreaks|truncatewords:100 }}</p>
                    </div>
                </a>
                <div class="card-footer text-muted">
                    {{ news.update_date|date:"d.m.Y h:i" }}
                </div>
            </div>
        {% endfor %}



{% endblock %}

