{% extends "base.html" %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_cat.html' %}
{% endblock %}

{% block content %}
{% for n in news %}
            <div class="card mb-3">
                <div class="card-header">
                    <a href="{{ n.category.get_absolute_url }}" class="nav-link">{{ n.category }}</a>
                </div>
                <a class="nav-link" style="color:black;" href="{{ n.get_absolute_url }}">
                    <div class="card-body">
                        <div class="media">
                            {% if n.photo %}
                                <img alt="" class="mr-3" src="{{ n.photo.url }}" width="350">
                            {% endif %}
                            <div class="media-body">
                                <h5 class="card-title">{{ n.title }}</h5>
                                <p class="card-text">{{ n.content|safe|linebreaks|truncatewords:100 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="card-footer text-muted">
                    {{ n.update_date|date:"d.m.Y" }}<t> {{ n.update_date|time:"h:i" }}
                </div>
            </div>
        {% endfor %}
{% endblock %}