{% extends "base.html" %}

{% block title %}
{{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar_cat.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <a class="nav-link" href="{{ news_item.category.get_absolute_url }}">{{ object.category }}</a>
    </div>
        <div class="card-body">
            <div class="media">
                {% if object.photo %}
                    <img alt="" class="mr-3" src="{{ object.photo.url }}" width="100%">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.content|safe|linebreaks }}</p>
                </div>
            </div>
        </div>
    <div class="card-footer text-muted">
        {{ object.update_date|date:"d.m.Y h:i" }}
    </div>
</div>

{% endblock %}